{{ form_start(formCreateBand) }}

{{ form_errors(formCreateBand) }}
<h1 class="h1">Création d'un Groupe | Artiste</h1>
<div class="row">

    <div class="col">
        {{ form_row(formCreateBand.name) }}
        {{ form_row(formCreateBand.mainPicture) }}
    </div>
    <div class="col">
        {{ form_row(formCreateBand.description) }}
    </div>

</div>

<div class="row">
    {{ form_row(formCreateBand.style)}}
    {{ form_row(formCreateBand.isFeatured)}}
</div>

<button type="submit" class="btn btn-success validate">
    <i class="far fa-save"></i> 
    Enregistrer
</button>

{{ form_end(formCreateBand) }}

{% block form_row %}
    
    {# {{ form_label(form) }}
    {{ form_widget(form) }}
    {{ form_help(form) }}
    {{ form_errors(form) }} #}
    
{% endblock %}