{% extends "base.html.twig" %}
{% block title %}
    Edition de {{ band.name }} :
{% endblock %}

{% block body %}
    <h1 class="h1">Edition de {{ band.name }}</h1>

    {{ form_start(formView) }}

    {{ form_errors(formView) }}
    <div class="row">

        <div class="col">
            {{ form_row(formView.name) }}
            {{ form_row(formView.mainPicture) }}
        </div>
        <div class="col">
            {{ form_row(formView.description) }}
        </div>

    </div>

    <div class="row">
         {{ form_row(formView.style)}}
         {{ form_row(formView.isFeatured)}}
    </div>

    <button type="submit" class="btn btn-success validate">
        <i class="far fa-save"></i> 
        Enregistrer
    </button>

    {{ form_end(formView) }}

{% endblock %}

{% block form_row %}
    
    {{ form_label(form) }}
    {{ form_widget(form) }}
    {{ form_help(form) }}
    {{ form_errors(form) }}
    
{% endblock %}